<div class="row col-lg-6 col-md-8 col-7 border m-lg-2 p-lg-5 p-md-5 p-1">
  <div class="col-6 text-center d-flex align-items-center justify-content-start">
    <h1><%= user.name %></h1>
  </div>
  <div class="col-6 row align-items-end">
    <p class="mb-0 mt-auto text-right">Number of posts: <%= user.posts_counter %></p>
  </div>
</div>