<% if @users.any? %>
<% @users.each do |user| %>
  <a href="/users/<%= user.id %>" class="text-decoration-none">
  <div class="row m-lg-4 m-md-3 m-2 justify-content-center align-items-center">
    <%= render 'partials/img', user: user %>
    <%= render 'partials/user_box', user: user %>
  </div>
  </a>
  <% end %>
  <% else %>
  <h1>No users</h1>
<% end %>